.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.header {
  background: #8ecae6;
  color: whitesmoke;
  padding: 20px 20px 20px 20px;
}

.form-input {
  width: 250px;
  padding: 3px 15px;
  margin-right: 5px;
  box-sizing: border-box;
  background-color: transparent;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 20px;
  outline: none;
}

.form-input::placeholder {
  color: whitesmoke;
}

.form-submit {
  padding: 3px 15px;
  box-sizing: border-box;
  background-color: transparent;
  color: whitesmoke;
  border: 2.5px solid whitesmoke;
  border-radius: 20px;
  outline: none;
}

.form-submit:hover {
  background-color: whitesmoke;
  color: #8ecae6;
}

.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 70px;
}

#temp {
  font-size: 140px;
}

#metric {
  font-size: 40px;
  vertical-align: top;
}

.condition-box {
  background: whitesmoke;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  color: #8ecae6;
  padding: 2px 15px 2px 10px;
  align-items: center;
  border-radius: 35px;
}

#condition-icon {
  width: 50px;
}

.stats-container {
  display: flex;
  margin: 20px auto;
  width: fit-content;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 460px) {
  .stats-container {
    flex-direction: column;
    margin-bottom: 0;
    gap: 0.5rem;
  }
}

.icon {
  width: 40px;
  padding: 0px 3px;
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}

.forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  overflow: scroll;
}

@media only screen and (max-width: 724px) {
  .forecast {
    justify-content: flex-start;
  }
}

.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #8ecae6;
  color: whitesmoke;
  margin: 15px 10px;
  padding: 20px 10px;
  min-width: 120px;
  min-height: 150px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.forecast-card:hover {
  transform: scale(105%);
}

.forecast_condition-icon {
  width: 70px;
  height: 70px;
}

.id {
  text-align: center;
  max-width: 40rem;
  margin: auto;
  padding: 2rem;
}
